@model KeyRequest.ViewModels.RequestForm

@{
    ViewBag.Title = "Delete Request";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.ErrorMessage</h3>
<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <div class="display-label">EmployeeNo</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EmployeeNo)
    </div>

    <div class="display-label">LastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">FirstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">RequestDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RequestDate)
    </div>
    <div class="display-label">@Html.LabelFor(model => model.Sets)</div>
    <div class="display-field">
        <table>
            <thead>
                <tr>
                    <th>Room</th>
                    <th>Key Sets</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Sets)
                { 
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.RoomDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
