@model KeyRequest.ViewModels.RequestSetForm

<tr>
    @Html.HiddenFor(x => Model.RequestFormID)
    <td>
        @Html.DropDownListFor(x => Model.RoomID, Model.RoomList, string.Empty, new { @class = "form-control" })
        @Html.ValidationMessageFor(modelItem => Model.RoomID, "", new { @class = "text-danger" })
    </td>
    <td>
        @Html.TextBoxFor(model => Model.Sets, new { @class = "form-control", type = "number", placeholder = "Number of Sets", min = 1, max = 99 })
        @Html.ValidationMessageFor(modelItem => Model.Sets, "", new { @class = "text-danger" })
    </td>
    <td>
        <button type="button" class="btn btn-danger disabled" aria-label="Remove">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
    </td>
</tr>