@model IEnumerable<KeyRequest.ViewModels.RequestReport>

@{
    ViewBag.Title = "Key Requests";
}

<h2>@ViewBag.Title</h2>


<div class="panel panel-info">
    <div class="panel-heading"></div>
    <div class="table-responsive">
        <table id="requestsets" class="table">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Location</th>
                    <th>Tag</th>
                    <th>Sets Requested</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Location)</td>
                        <td>@Html.DisplayFor(modelItem => item.Tag)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sets)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>